* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.std-height {
  height: 97.5vh; }

.std-margin {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vw;
  margin-left: 1vw; }

.std-border {
  border: 1px solid black;
  border-radius: 3px; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #5C5E68;
  color: #fbfbfb; }

button {
  background-color: transparent;
  border: transparent;
  border-radius: 3px; }

/* LEFT */
.left {
  width: 20vw; }

#histogram-wrapper {
  height: 78.5vh;
  position: relative;
  display: inline-block;
  background-color: #E8E8E8; }

#histogramLoader {
  width: 5vw;
  height: 5vw;
  position: fixed;
  z-index: 5;
  top: calc((78.5vh / 2) - 5vw / 2);
  left: calc((20vw / 2) - 5vw / 2); }

.mediumLoader {
  animation: spin 3.25s linear infinite; }

.slowLoader {
  animation: spin 11.3s linear infinite; }

#histograph-filter-wrapper {
  height: 18.5vh;
  position: fixed;
  bottom: 0;
  padding: 0.3%;
  background-color: #E8E8E8; }

.filterWordWrapper {
  display: inline;
  border: 1px black solid;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 4%;
  border-radius: 15% 15% 15% 15%;
  float: left;
  background-color: #7C7E88; }

.filterWordWrapper:hover {
  cursor: pointer;
  background-color: #FFCCCB; }
  .filterWordWrapper:hover .filterWordText {
    font-style: italic;
    color: black; }
  .filterWordWrapper:hover .wordClose {
    color: red; }

.filterWordText {
  padding-right: 5%;
  padding-left: 5%;
  display: inline-block; }

.wordClose {
  display: inline;
  margin-left: 1vw; }

.center {
  left: 21vw;
  width: 38vw; }

.searchNoFocus {
  background-color: #e8e8e8;
  box-shadow: none; }
  .searchNoFocus #search-bar {
    background: #e8e8e8; }

.searchHasFocus {
  background-color: white;
  box-shadow: 0.5px 1px 0.5px grey; }
  .searchHasFocus #search-bar {
    background: white; }

.searchHasError {
  border-color: #E80000; }
  .searchHasError #searchIcon {
    color: #E80000; }

#search-bar-wrapper {
  text-align: center;
  height: 4.75vh;
  position: fixed;
  top: 0;
  transition: background-color 0.5s, box-shadow 0.5s; }
  #search-bar-wrapper i {
    width: 9%; }
  #search-bar-wrapper input {
    width: 91%; }

#searchIcon {
  color: #5C5E68; }

#search-bar {
  width: 97.5%;
  height: 90%;
  border: 0;
  margin-top: .45%;
  color: black;
  padding: 5px;
  transition: background 0.5s; }

#search-bar:focus {
  outline: none;
  background: white; }

#predictedSearchList {
  position: fixed;
  padding-top: 0.5vh;
  max-height: 16vh;
  top: 4.5vh;
  background: white;
  display: none;
  list-style-type: none;
  overflow-y: auto;
  color: black; }
  #predictedSearchList li {
    height: 3vh;
    cursor: pointer; }
  #predictedSearchList li:hover {
    background: #F8F8F8; }
  #predictedSearchList div {
    float: right;
    height: 100%; }

.predicted_word {
  font-weight: bold;
  padding-left: 1vw; }

.predicted_type {
  color: purple;
  padding-right: 1vw;
  float: right;
  clear: both; }

.predicted_topic {
  float: right;
  padding-right: 1vw; }

#newspaperLoader {
  position: fixed;
  z-index: 5;
  left: calc((38vw / 2) + 20vw - (5vw / 2));
  top: calc(50vh - 5vw / 2);
  border: 16px solid #E8E8E8;
  /* Light grey */
  border-top: 16px solid #dd3333; }

#newspaper-wrapper {
  height: 87.75vh;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  list-style-type: none; }

.newspaper {
  height: auto;
  border: 1px solid grey;
  border-radius: 1%;
  cursor: pointer;
  color: black;
  background: white;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-left: 0vw;
  margin-right: 0vw;
  position: relative;
  box-shadow: 0.5px 1px 0.5px grey;
  transition: box-shadow 0.2s; }
  .newspaper p {
    word-wrap: break-word; }

.newspaper:hover {
  box-shadow: 1px 2px 1px grey; }
  .newspaper:hover .newspaper-expander {
    color: black; }

.newspaper .newspaper-expander:hover {
  color: #2962ff; }

.newspaper-header:hover {
  border-bottom: 1px solid #2962ff;
  color: #2962ff; }

.disabledButton {
  color: grey;
  cursor: default; }

.newspaper-header {
  font-size: 140%;
  font-weight: 600;
  display: inline-block;
  margin-top: 1.5vh;
  margin-bottom: 0.25vh;
  border-bottom: 1px solid white;
  -webkit-transition: color 0.2s;
  /* Safari */
  transition: color 0.2s; }

.newspaper-subheading {
  font-size: 100%;
  color: #757575;
  font-size: 93.33333%;
  margin-bottom: 1.5vh;
  display: block; }

.newspaper-expander {
  position: absolute;
  bottom: 1vh;
  right: 1.5vh;
  color: gray; }

#date-range {
  text-align: center;
  border-bottom: 1px solid black;
  height: 5vh;
  font-size: 2.5vh;
  position: fixed;
  bottom: 87.75vh;
  background-color: #E8E8E8;
  color: black; }

#larrow {
  margin-left: 10vw; }

#rarrow {
  margin-right: 10vw; }

.parent {
  display: table; }

.child {
  display: table-cell;
  vertical-align: middle; }

/* RIGHT */
.right {
  width: 38vw;
  position: fixed;
  right: 0; }

#knowledge-graph-wrapper {
  height: 48vh;
  top: 0;
  background-color: #E8E8E8; }

.rightLoader {
  position: fixed;
  right: 16.5vw; }

#knowledgeLoader {
  top: calc(48vh / 2 - 5vw / 2); }

#topicLoader {
  bottom: calc(48vh / 2 - 5vw / 2); }

#topic-graph-wrapper {
  height: 48vh;
  bottom: 0;
  background-color: #E8E8E8; }

.graph-header {
  text-align: center;
  border-bottom: 1px solid black;
  color: black; }

/*iFrame*/
#frame-wrapper {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  top: 0;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: .75s; }

.frame {
  border: 1px solid darkgrey;
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  animation-name: popup;
  animation-duration: .75s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes popup {
  from {
    width: 0%;
    height: 0%; }
  to {
    width: 80vw;
    height: 80vh; } }
.cannot-load {
  display: table;
  text-align: center;
  font-size: 36px;
  background-color: #5C5E68; }

.loader-wrapper {
  display: table-cell;
  vertical-align: middle; }

.loader {
  border: 16px solid white;
  /* Light grey */
  border-top: 16px solid #dd3333;
  /* RED */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  margin: auto; }

.frameLoader {
  animation: spin 1.25s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.popup {
  position: relative;
  background-color: #e8e8e8;
  border: 2px solid darkgrey;
  border-radius: 3px;
  color: black;
  width: 15vw;
  height: 10vh;
  margin: 0;
  animation-name: swoosh;
  animation-duration: 1s; }

.close-button {
  position: absolute;
  width: 1.5vw;
  float: right;
  right: 0%;
  top: 0%; }

#popup-text {
  margin-top: 2.5vh;
  margin-left: 0.5vw; }

@keyframes swoosh {
  from {
    left: -15vw; }
  to {
    left: 0vw; } }

/*# sourceMappingURL=main.css.map */
