* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.std-height {
  height: 97.5vh; }

.std-margin {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vw;
  margin-left: 1vw; }

.std-border {
  border: 1px solid #5C5E68;
  border-radius: 3px; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #E0E0E0; }
  body * {
    font-family: "Helvetica"; }

button {
  background-color: transparent;
  border: transparent;
  border-radius: 3px; }

#nav-bar {
  width: 100vw;
  height: 10vh;
  background-color: #182B49; }

#awesomeLogo, #awesomeText {
  color: #F8F8F8;
  font-size: 150%;
  padding-left: 1vw; }

#awesomeLogo, .navButton {
  height: inherit; }

.nav-parent {
  height: 10vh; }

#navButtons {
  position: fixed;
  top: 0;
  width: 100vw; }

.navButton {
  font-size: 130%;
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #F8F8F8; }

.navButton:hover {
  color: #00C6D7;
  cursor: pointer; }

#settingsIcon {
  right: 2vw; }

#saveIcon {
  right: 7vw; }

/* LEFT */
.left-stack {
  width: 20vw; }

#histogram-wrapper {
  height: 67.5vh;
  position: fixed;
  bottom: 0;
  display: inline-block;
  background-color: #F8F8F8;
  padding-right: 2.7vw;
  padding-top: 10vh; }
  #histogram-wrapper .header-wrapper {
    position: absolute;
    top: 0; }

#histogramLoader {
  width: 5vw;
  height: 5vw;
  position: fixed;
  z-index: 5;
  bottom: calc((68.5vh / 2) - 5vw / 2);
  left: calc((20vw / 2) - 5vw / 2); }

.mediumLoader {
  animation: spin 3.25s linear infinite; }

.slowLoader {
  animation: spin 11.3s linear infinite; }

#histograph-filter-wrapper {
  height: 18.5vh;
  position: relative;
  padding: 0.3%;
  background-color: #F8F8F8;
  z-index: 5;
  transition: width 0.3s, height 0.3s; }

#timeSlider {
  left: 0;
  height: 9vh;
  width: 100%;
  z-index: 100;
  position: absolute;
  bottom: 0; }
  #timeSlider g.y {
    display: none; }

#histograph-filter-wrapper:hover {
  height: 27.75vh;
  width: 30vw; }
  #histograph-filter-wrapper:hover #timeSlider {
    width: 30vw; }

#histograph-filter-wrapper:hover > #timeSlider {
  width: 30vw; }

.filterWordWrapper {
  position: relative;
  display: inline;
  border: 1px black solid;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  height: 4vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
  float: left;
  background-color: #7C7E88; }

.filterWordText, .wordClose {
  font-size: 60%;
  margin-top: 2vh;
  transform: translateY(-50%); }

.filterWordText {
  padding-right: 1vw;
  padding-left: 0.5vw;
  display: inline-block;
  color: #F8F8F8; }

.wordClose {
  display: none;
  position: absolute;
  margin-left: 1vw;
  top: 0;
  right: 0.5vw; }

.filterWordWrapper:hover {
  cursor: pointer;
  background-color: #FFCCCB;
  border-top-right-radius: 0.5vw / 0.5vh;
  border-bottom-right-radius: 0.5vw / 0.5vh;
  padding-right: 1.5vw; }
  .filterWordWrapper:hover .filterWordText {
    font-style: italic;
    color: black; }
  .filterWordWrapper:hover .wordClose {
    display: inline;
    color: red; }

.center-stack {
  left: 21vw;
  width: 38vw; }

.searchNoFocus {
  background-color: #e8e8e8;
  box-shadow: none; }
  .searchNoFocus #search-bar {
    background: #e8e8e8; }

.searchHasFocus {
  background-color: white;
  box-shadow: 0.5px 1px 0.5px #E8E8E8; }
  .searchHasFocus #search-bar {
    background: white; }

.searchHasError {
  border-color: #E80000; }
  .searchHasError #searchIcon {
    color: #E80000; }

#search-bar-wrapper {
  text-align: center;
  height: 6vh;
  position: fixed;
  border-radius: 1% / 8%;
  top: 1vh;
  transition: background-color 0.5s, box-shadow 0.5s; }
  #search-bar-wrapper i {
    width: 9%; }

#calendarText {
  position: fixed;
  top: 6vh;
  left: 22vw;
  width: 0;
  height: 0;
  z-index: -1; }

#currMonth {
  position: fixed;
  text-align: center;
  color: #00C6D7;
  top: 8vh;
  font-size: 80%; }

#searchIcon, #calendarIcon {
  color: #5C5E68; }

#calendarIcon {
  position: fixed;
  top: 3.4vh;
  right: 41vw;
  z-index: 6; }

#calendarIcon:hover {
  cursor: pointer; }

#calendarIcon:hover {
  color: #747680; }

#search-bar {
  width: 91%;
  height: 90%;
  border: 0;
  margin-top: .45%;
  color: black;
  padding: 5px;
  transition: background 0.5s; }

#search-bar:focus {
  outline: none;
  background: white; }

#predictedSearchList {
  position: fixed;
  padding-top: 0.5vh;
  max-height: 16vh;
  top: 7vh;
  background: white;
  display: none;
  font-size: 80%;
  list-style-type: none;
  overflow-y: auto;
  color: black; }
  #predictedSearchList li {
    height: 3vh;
    cursor: pointer; }
  #predictedSearchList li:hover {
    background: #F8F8F8; }
  #predictedSearchList div {
    float: right;
    height: 100%; }

.predicted_word {
  font-weight: bold;
  padding-left: 1vw; }

.predicted_type {
  color: purple;
  padding-right: 1vw;
  float: right;
  clear: both; }

.predicted_topic {
  float: right;
  padding-right: 1vw; }

#newspaperLoader {
  position: fixed;
  z-index: 5;
  left: calc((38vw / 2) + 20vw - (5vw / 2));
  top: calc(50vh - 5vw / 2);
  border: 16px solid #E8E8E8;
  /* Light grey */
  border-top: 16px solid #dd3333; }

#newspaperlist-header {
  position: fixed;
  top: 11vh;
  margin-left: 1vw;
  z-index: 3;
  background-color: #F8F8F8; }
  #newspaperlist-header .graph-header {
    padding-top: 1vh; }
  #newspaperlist-header .graph-subheader {
    padding-bottom: 0.5vh; }

#newspaperJumpWrapper {
  width: auto;
  padding-left: 0.75vw;
  cursor: pointer;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  display: none; }
  #newspaperJumpWrapper span {
    font-size: 85%;
    display: inline-block;
    transition: font-size 0.3s; }
  #newspaperJumpWrapper span:hover {
    font-size: 110%;
    font-weight: bold; }
  #newspaperJumpWrapper .selectedJumper {
    font-size: 110%;
    font-weight: bold; }

#jumpIcon {
  font-size: 70%; }

#newspaperSort {
  position: fixed;
  top: 11vh;
  right: 40vw;
  margin-right: 1vw;
  margin-top: 1vh;
  cursor: pointer;
  color: #747680; }

#newspaperSort:hover {
  color: black;
  font-size: 120%; }

#newspaperSortOptions {
  position: fixed;
  top: 15vh;
  right: 41vw;
  overflow: hidden;
  list-style-type: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border: 1px solid #5C5E68;
  transition: all .6s;
  border-radius: 0.5vw / 0.5vh;
  background-color: #F8F8F8; }
  #newspaperSortOptions li {
    height: 3vh;
    padding-left: 0.5vw;
    position: relative; }
  #newspaperSortOptions li:last-child {
    border-radius: 0.5vw / 0.5vh; }
  #newspaperSortOptions span {
    font-size: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    left: 3vw; }

#newspaperSortOptions.sortingVisible {
  width: 18vw;
  height: auto; }

#newspaperSortOptions li:hover {
  background-color: #E8E8E8; }

#newspaperSortOptions li:active {
  color: #00C6D7; }

.selectedNewspaperSort {
  background-color: #E8E8E8;
  color: #2962ff; }

.newspaperSortIcon {
  margin-left: 1vw;
  padding-right: 0.7vw;
  font-size: 130%;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%); }

#newspaper-wrapper {
  height: 77vh;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  list-style-type: none; }

.newspaper {
  height: auto;
  border: 1px solid grey;
  border-radius: 1% / 8%;
  cursor: pointer;
  color: black;
  background: white;
  margin-bottom: 1vh;
  margin-left: 0vw;
  margin-right: 0vw;
  position: relative;
  box-shadow: 0.5px 1px 0.5px grey;
  transition: box-shadow 0.2s; }
  .newspaper p {
    word-wrap: break-word;
    font-size: 70%;
    line-height: 1.5; }

.newspaper.expanded {
  border-radius: 1% / 3%; }

.newspaper:hover {
  box-shadow: 1px 2px 1px grey; }
  .newspaper:hover .newspaper-expander {
    color: black; }
  .newspaper:hover .newspaper-header {
    color: #2962ff; }

.newspaper .newspaper-expander:hover {
  color: #2962ff; }

.newspaper-header:hover {
  border-bottom: 1px solid #2962ff;
  color: #2962ff; }

.disabledButton {
  color: grey;
  cursor: default; }

.newspaper-header {
  font-size: 90%;
  font-weight: 600;
  display: inline-block;
  margin-top: 1.8vh;
  margin-bottom: 0.25vh;
  border-bottom: 1px solid white;
  -webkit-transition: color 0.2s;
  /* Safari */
  transition: color 0.2s; }

.newspaper-subheading {
  font-size: 100%;
  color: #757575;
  font-size: 60%;
  margin-bottom: 1.5vh;
  display: block; }

.newspaper-expander {
  position: absolute;
  bottom: 1vh;
  right: 1.5vh;
  color: gray; }

#date-range {
  display: none;
  text-align: center;
  border-bottom: 1px solid black;
  height: 5vh;
  font-size: 2.5vh;
  position: fixed;
  bottom: 88vh;
  background-color: #F8F8F8;
  color: black; }

#larrow {
  margin-left: 10vw; }

#rarrow {
  margin-right: 10vw; }

.parent {
  display: table; }

.child {
  display: table-cell;
  vertical-align: middle; }

/* RIGHT */
.right-stack {
  width: 38vw;
  position: fixed;
  right: 0; }

#knowledge-graph-wrapper {
  display: none;
  height: 88vh;
  top: 10vh;
  background-color: #F8F8F8; }

.rightLoader {
  position: fixed;
  right: 16.5vw; }

.graph-header {
  color: black;
  font-size: 90%;
  padding-top: 1.8vh;
  padding-left: 0.75vw;
  font-weight: 300;
  display: inline-block; }

.graph-subheader {
  font-size: 70%;
  color: #5C5E68;
  font-weight: 400;
  padding-left: 1.25vw;
  padding-top: 1vh;
  display: block; }

#knowledgeLoader {
  top: calc(88vh / 2 - 5vw / 2 + 10vh / 2); }

#topicLoader {
  bottom: calc(88vh / 2 - 5vw / 2 + 10vh / 2); }

#topic-graph-wrapper {
  height: 88vh;
  bottom: 0;
  background-color: #F8F8F8; }
  #topic-graph-wrapper .graph-header {
    border: none;
    cursor: pointer;
    padding-top: 1vh;
    padding-bottom: 0.6vh;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    padding-right: 0.5vw;
    margin-left: 0.5vw;
    padding-left: 0.375vw; }
  #topic-graph-wrapper .graph-header:hover {
    box-shadow: 0 0 1.8vw 0.4vh #182B49;
    border-radius: 1vw / 40%; }
  #topic-graph-wrapper .graph-header:active {
    color: #00C6D7; }
  #topic-graph-wrapper .graph-subheader {
    padding-top: 0.5vh; }
  #topic-graph-wrapper .activeGraph {
    color: #2962ff; }

#topic-graph {
  width: 36vw;
  margin-left: 1vw;
  height: 75vh;
  padding-bottom: 0.5vh;
  position: fixed;
  bottom: 2vh; }

/*iFrame*/
#frame-wrapper {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  top: 0;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: .75s; }

.frame {
  border: 1px solid darkgrey;
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  animation-name: popup;
  animation-duration: .75s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes popup {
  from {
    width: 0%;
    height: 0%; }
  to {
    width: 80vw;
    height: 80vh; } }
.cannot-load {
  display: table;
  text-align: center;
  font-size: 36px;
  background-color: #5C5E68; }

.loader-wrapper {
  display: table-cell;
  vertical-align: middle; }

.loader {
  border: 16px solid white;
  /* Light grey */
  border-top: 16px solid #dd3333;
  /* RED */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  margin: auto; }

.frameLoader {
  animation: spin 1.25s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.popup {
  position: relative;
  background-color: #e8e8e8;
  border: 2px solid darkgrey;
  border-radius: 3px;
  color: black;
  width: 15vw;
  height: 10vh;
  margin: 0;
  animation-name: swoosh;
  animation-duration: 1s; }

.close-button {
  position: absolute;
  width: 1.5vw;
  float: right;
  right: 0%;
  top: 0%; }

#popup-text {
  margin-top: 2.5vh;
  margin-left: 0.5vw; }

@keyframes swoosh {
  from {
    left: -15vw; }
  to {
    left: 0vw; } }
@media (min-device-width: 1300px) {
  .newspaper-subheading {
    margin-top: 0.5vh; }

  .navButton {
    font-size: 170%; }

  #awesomeLogo {
    font-size: 220%; }

  #awesomeText {
    font-size: 170%; }

  #calendarText {
    left: 22.5vw; } }

/*# sourceMappingURL=main.css.map */
