
$h_padding: 1vw;
$v_padding: 1vh;
$histogram_width: 20vw;
$graph_header_height: 9vh;
$q_bar_width: 38vw;
$center_width: $q_bar_width;
$search_bar_height: 6vh;
$top_bar_height: 10vh;
$newspaper_column_height: 100vh - (2 * $v_padding) - $top_bar_height;
$newspaper_list_height: $newspaper_column_height - $graph_header_height - 2vh;
$date_range_height: 5vh;

$off_white_background: #F8F8F8;
$off_white: $off_white_background;
$g_blue: #2962ff;
$off_grey : #E8E8E8;
$dark_grey: #5C5E68;
$hover_dark_grey: #747680;
$searchErrorColor: #E80000;
$accentColor: #00C6D7;
$UCSD_DARK_BLUE : #182B49;

$right_width : 38vw;

$module_background: $off_white_background;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.std-height{
  height: 97.5vh;
}

.std-margin{
  margin-top: $v_padding;
  margin-bottom: $v_padding;
  margin-right: $h_padding;
  margin-left: $h_padding;
}

.std-border{
  border: 1px solid $dark_grey;
  border-radius: 3px;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #E0E0E0;
  //color: #fbfbfb;
  *{
    font-family : "Helvetica";
  }
}

button{
  background-color: transparent;
  border: transparent;
  border-radius: 3px;
}

#nav-bar{
  width: 100vw;
  height: $top_bar_height;
  background-color: $UCSD_DARK_BLUE;
}

#awesomeLogo, #awesomeText{
  color: $off_white_background;
  font-size: 150%;
  padding-left: 1vw;
}

#awesomeLogo, .navButton{
  height: inherit;
}

#awesomeText{

}

.nav-parent{
  height: $top_bar_height;
}

#navButtons{
  position: fixed;
  top: 0;
  width: 100vw;
}

.navButton{
  font-size: 130%;
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
  color: $off_white_background;
}

.navButton:hover{
  color: $accentColor;
  cursor: pointer;
}

#settingsIcon{
  right: 2vw;
}

#saveIcon{
  right: 7vw;
}

/* LEFT */
.left-stack{
  width: $histogram_width;
}

$histogram_height: 78.5vh - $top_bar_height;
$filter_height: 18.5vh;
#histogram-wrapper{
  //margin-top: $filter_height + 2 * $v_padding;
  height: $histogram_height - $v_padding;
  position: fixed;
  bottom: 0;
  display: inline-block;
  background-color: $module_background;
  padding-right: 2.7vw;
  padding-top: $graph_header_height + 1vh;

  .header-wrapper{
    position: absolute;
    top: 0;
  }
}

$spinner_width: 5vw;
#histogramLoader{
  width: $spinner_width;
  height: $spinner_width;
  position: fixed;
  z-index: 5;
  bottom: calc((#{$histogram_height} / 2) - #{$spinner_width} / 2);
  left: calc((#{$histogram_width} / 2) - #{$spinner_width} / 2);
}

.mediumLoader{
  animation: spin 3.25s linear infinite;
}

.slowLoader{
  animation: spin 11.3s linear infinite;
}

#histograph-filter-wrapper{
  height: $filter_height;
  position: relative;
  //top: $top_bar_height;
  padding: 0.3%;
  background-color: $module_background;
  z-index: 5;

  transition: width 0.3s, height 0.3s;
}



#timeSlider{
  left: 0;
  height: $graph_header_height;
  width: 100%;
  z-index: 100;
  position: absolute;
  bottom: 0;
  //bottom: $histogram_height + $v_padding;

  g.y {
    display: none;
  }
}

#histograph-filter-wrapper:hover{
  height: $filter_height * 1.5;
  width: $histogram_width * 1.5;

  #timeSlider{
    width: $histogram_width * 1.5;
    //display: none;
  }
}

#histograph-filter-wrapper:hover > #timeSlider{
    width: $histogram_width * 1.5;
}

.filterWordWrapper{
  position: relative;
  display: inline;
  border: 1px black solid;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  height: 4vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 1.5vw 1.5vw 1.5vw 1.5vw / 1.5vh 1.5vh 1.5vh 1.5vh;
  float: left;

  background-color: #7C7E88;
}

.filterWordText, .wordClose{
  font-size: 60%;
  margin-top: 2vh;
  transform: translateY(-50%);
}

.filterWordCombiner{
  margin-top: 2vh;
  transform: translateY(-50%);
  font-size: 60%;
  display: inline-block;
  color: white;
  font-weight: bold;
  margin-right: 0.5vw;
}

.filterWordCombiner:before{
  content:'\222A';
}

.filterWordCombiner:hover::before{
  content:'\2229';
}

.andCombiner:before{
  content:'\2229';
}

.andCombiner:hover::before{
  content:'\222A';
}

.filterWordText{
  padding-right: 1vw;
  padding-left: 0.5vw;
  display: inline-block;
  color: $off_white;
}

.filterWordText:hover::before { 
  content: "~";
}

.wordClose{
  display: none;
  position: absolute;
  margin-left: 1vw;
  top: 0;
  right: 0.5vw;
}

.filterWordWrapper:hover{
  cursor: pointer;
  background-color: $g_blue;
  border-top-right-radius: 0.5vw 0.5vh;
  border-bottom-right-radius: 0.5vw 0.5vh;
  padding-right: 1.5vw;

  .filterWordText, .filterWordCombiner{
    //color: black;
  }
  .wordClose{
    display: inline;
    color: red;
  }
}

$center_left_start: $h_padding + $histogram_width;
.center-stack{
  left: $center_left_start;
  width: $center_width;
}

.searchNoFocus{
  background-color: #e8e8e8;
  box-shadow: none;
  
  #search-bar{
    background: #e8e8e8;
  }
}

.searchHasFocus{
  background-color: white;

  #search-bar{
    background: white;
  }
  box-shadow: 0.5px 1px 0.5px $off_grey;
}

.searchHasError{
  border-color: $searchErrorColor;
  #searchIcon{
    color: $searchErrorColor;
  }
}

$search_bar_top: ($top_bar_height - $search_bar_height) / 2 - $v_padding;
#search-bar-wrapper{
  text-align: center;
  height: $search_bar_height;
  position: fixed;
  border-radius: 1% / 8%;
  top: $search_bar_top;

  i{
    width: 9%;
  }

  transition: background-color 0.5s, box-shadow 0.5s;
}

#calendarText{
  position: fixed;
  top: $search_bar_top + $search_bar_height - 1vh;
  left: $center_left_start + 1vw; 
  width: 0;
  height: 0;

  z-index: -1;
}


#currMonth{
  position: fixed;
  text-align: center;
  color: #00C6D7;
  top:8vh;
  font-size: 80%;
}

#search-bar-wrapper:focus{
}

#searchIcon, #calendarIcon{
  color: $dark_grey;
}

#calendarIcon{
  position: fixed;
  top: $search_bar_top + 2.4vh;
  right: 100 - $center_left_start - $center_width;
  z-index: 6;
}

#calendarIcon:hover{
  cursor: pointer;
}


#calendarIcon:hover{
  color: $hover_dark_grey;
}

#search-bar{
  width: 91%;
  height: 90%;
  border: 0;
  margin-top: .45%;
  color: black;
  padding: 5px;

  transition: background 0.5s;
}

#search-bar:focus{
  outline: none;
  background: white;
}

#predictedSearchList{
  position: fixed;
  padding-top: 0.5vh;
  max-height: 16vh;
  top: $search_bar_height + $v_padding;;
  background: white;
  display: none;

  font-size: 80%;

  list-style-type: none;
  overflow-y: auto;

  color: black;

  li{
    height: 3vh;
    cursor: pointer;
  }

  li:hover{
    background: $off_white_background;
  }

  div{
    float: right;
    height: 100%;
  }
}

.predicted_word{
  font-weight: bold;
  padding-left: 1vw;
}

.predicted_type{
  color: purple;
  padding-right: 1vw;
  float: right;
  clear: both;
}

.predicted_topic{
  float: right;
  padding-right: 1vw;
}

#newspaperLoader{
  position: fixed;
  z-index: 5;

  left: calc((#{$q_bar_width} / 2) + #{$histogram_width} - (#{$spinner_width} / 2));
  top: calc(50vh - #{$spinner_width} / 2);

  border: 16px solid $off_grey; /* Light grey */
  border-top: 16px solid #dd3333;
}

#newspaperlist-header{
  position: fixed;
  top: $top_bar_height + $v_padding;
  margin-left: $h_padding;
  z-index: 3;

  background-color: $module_background;

  .graph-header{
    padding-top: $v_padding;
  }

  .graph-subheader{
    padding-bottom: $v_padding / 2;
  }
}

#newspaperJumpWrapper{
  width: auto;
  padding-left: 0.75vw;
  cursor: pointer;
  padding-top: $v_padding / 2;
  padding-bottom: $v_padding / 2;

  display: none;

  span{
    font-size: 85%;
    display: inline-block;
    transition: font-size 0.3s;
  }
  span:hover{
    font-size: 110%;
    font-weight: bold;
  }

  .selectedJumper{
    font-size: 110%;
    font-weight: bold;
  }
}

#jumpIcon{
  font-size: 70%;
}

#newspaperSort{
  position: fixed;
  top: $top_bar_height + $v_padding;
  right: $right_width + (2 * $h_padding);
  margin-right: $h_padding;
  margin-top: $v_padding;
  cursor: pointer;

  color: $hover_dark_grey;
}

#newspaperSort:hover{
  color: black;
  font-size: 120%;
}



#newspaperSortOptions{
  position: fixed;
  top: $top_bar_height + $v_padding + 4vh;
  right: $right_width + (2 * $h_padding) + 1vw;
  overflow: hidden;
  list-style-type: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border: 1px solid $dark_grey;
  transition: all .6s;

  border-radius: 0.5vw / 0.5vh;

  background-color: $off_white;

  li{
    height: 3vh;
    padding-left: 0.5vw;

    position: relative;
  }

  li:last-child{
    border-radius: 0.5vw / 0.5vh;
  }

  span{
    font-size: 90%;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    left: 3vw;
  }
}

#newspaperSortOptions.sortingVisible{
  width: 18vw;
  height: auto;

}

#newspaperSortOptions li:hover{
  background-color: $off_grey;
}

#newspaperSortOptions li:active{
  color: $accentColor;
}

.selectedNewspaperSort{
  background-color: $off_grey;
  color: $g_blue;
}


.newspaperSortIcon{
  margin-left: 1vw;
  padding-right: 0.7vw;
  font-size: 130%;
  position: absolute;

  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}




#newspaper-wrapper{
  height: $newspaper_list_height;
  overflow-y: auto;
  position: fixed;
  bottom: 0;

  list-style-type: none;
}


$newspaper_width_margin: 0vw;
$newspaper_height_margin: 0.5vh;
.newspaper{
  height: auto;
  border: 1px solid grey;
  border-radius: 1% / 8%;
  cursor: pointer;

  color: black;
  background: white;

  margin-bottom: $newspaper_height_margin * 2;
  margin-left: $newspaper_width_margin;
  margin-right: $newspaper_width_margin;

  p{
    word-wrap:break-word;
    font-size: 70%;
    line-height: 1.5;
  }

  position: relative;
  box-shadow: 0.5px 1px 0.5px grey;
  transition: box-shadow 0.2s;
}

.newspaper.expanded{
  border-radius: 1% / 3%;
}

.newspaper:hover{
  .newspaper-expander{
    color: black;
  }
  .newspaper-header{
    color : $g_blue;
  }
  box-shadow: 1px 2px 1px grey;
}

.newspaper{
  .newspaper-expander:hover{
    color: $g_blue;
  }
}

.newspaper-header:hover{
  border-bottom: 1px solid $g_blue;
  color : $g_blue;
}

.disabledButton{
  color: grey;
  cursor: default;
}

$newspaper_header_size : 90%;
$newspaper_subtile_size : ($newspaper_header_size * 2) / 3;
.newspaper-header{
  font-size: $newspaper_header_size;
  font-weight: 600;
  display: inline-block;
  margin-top: 1.8vh;
  margin-bottom: 0.25vh;
  border-bottom: 1px solid white;

  -webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
}

.newspaper-subheading{
  font-size: 100%;
  color: #757575;
  font-size: $newspaper_subtile_size;
  margin-bottom: 1.5vh;
  display: block;
}
.newspaper-content{

}

.newspaper-expander{
  position: absolute;
  bottom: 1vh;
  right: 1.5vh;
  color: gray;
}

#date-range{
  display: none;
  text-align: center;
  border-bottom: 1px solid black;
  height: $date_range_height;
  font-size: 2.5vh;
  position: fixed;
  bottom: $newspaper_column_height;
  background-color: $module_background;

  color: black;
}

$arrow_margin: 10vw;
#larrow{
  margin-left: $arrow_margin;
}

#rarrow{
  margin-right: $arrow_margin;
}

.parent{
  display: table;
}

.child{
  display: table-cell;
  vertical-align: middle;
}

/* RIGHT */
$right_module_height: 100vh - $top_bar_height - (2 * $v_padding);
.right-stack{
  width: $right_width;
  position: fixed;
  right: 0;
}

#knowledge-graph-wrapper{
  display: none;
  height: $right_module_height;
  top: $top_bar_height;
  background-color: $module_background;
}

.rightLoader{
  position: fixed;
  right: $right_width / 2 - $spinner_width / 2;
}

.graph-header{
  color: black;
  font-size: 90%;
  padding-top: 1.8vh;
  padding-left: 0.75vw;
  font-weight: 300;
  display: inline-block;
}

.graph-subheader{
  font-size: 70%;
  color: $dark_grey;
  font-weight: 400;
  padding-left: 1.25vw;
  padding-top: 1vh;
  display: block;
}

$right_loader_placement: calc(#{$right_module_height} / 2 - #{$spinner_width} / 2 + #{$top_bar_height} / 2);
#knowledgeLoader{
  top: $right_loader_placement;
}

#topicLoader{
  bottom: $right_loader_placement;
}


#topic-graph-wrapper{
  height: $right_module_height;
  bottom: 0;
  background-color: $module_background;
  .graph-header{
    border: none;
    cursor: pointer;
    padding-top: 1vh;
    padding-bottom: 0.6vh;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    padding-right: 0.5vw;
    margin-left: 0.5vw;
    padding-left: 0.375vw;


  }
  .graph-header:hover{
    box-shadow: 0 0 1.8vw 0.4vh $UCSD_DARK_BLUE;
    border-radius: 1vw / 40%;
  }
  .graph-header:active{
    color: $accentColor;
  }
  .graph-subheader{
    padding-top: 0.5vh;
  }

  .activeGraph{
    color: $g_blue;
  }
}

#topic-graph{
  width: $right_width - 2vw;
  margin-left: 1vw;
  height: $right_module_height - $graph_header_height - (4 * $v_padding);
  padding-bottom: 0.5vh;
  position: fixed;
  bottom: $v_padding * 2;
}

/*iFrame*/
#frame-wrapper{
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  top: 0;

  cursor: pointer;

  animation-name: fadeIn;
  animation-duration: .75s;
}

.frame{
  border: 1px solid darkgrey;
  border-radius: 3px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;

  animation-name: popup;
  animation-duration: .75s;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popup{
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 80vw;
    height: 80vh;
  }
}

.cannot-load{
  display: table;

  text-align: center;
  font-size: 36px;
  background-color: #5C5E68;
}

.loader-wrapper{
  display: table-cell;
  vertical-align: middle;
}

.loader {
  border: 16px solid white; /* Light grey */
  border-top: 16px solid #dd3333; /* RED */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  margin: auto;
}

.frameLoader{
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup{
  position: relative;
  background-color: #e8e8e8;
  border: 2px solid darkgrey;
  border-radius: 3px;
  color: black;
  width: 15vw;
  height: 10vh;
  margin: 0;


  animation-name: swoosh;
  animation-duration: 1s;
}

.close-button{
  position: absolute;
  width: 1.5vw;
  float: right;
  right: 0%;
  top: 0%;
  z-index: 2;
}

#popup-text{
  margin-top: 2.5vh;
  margin-left: 0.5vw;
}

@keyframes swoosh {
  from{left: -15vw;}
  to{left: 0vw;}
}



@media (min-device-width : 1300px){
  .newspaper-subheading{
    margin-top: 0.5vh;
  }

  .navButton{
    font-size: 170%;
  }

  #awesomeLogo{
    font-size: 220%;
  }

  #awesomeText{
    font-size: 170%;
  }

  #calendarText{
    left: $center_left_start + 1.5vw; 
  }

}